@import "../../style/vars.scss";
@import "../../style/mixins.scss";

.nav-main {
  // @include breakpoint($mobile-bp) {
  //   display: none;
  // }
}

.nav-main__inner {
  padding: 80px 0 75px;
  max-width: 563px;
  width: 100%;
  margin: 0 auto;
}

.nav-main__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main__link {
  color: $brown;
  text-decoration: none;
  transition: all 0.2s linear;
  &:hover {
    color: $green;
  }
}
