@import "../../../style/vars.scss";
@import "../../../style/mixins.scss";

.card {
  color: $brown;
  margin-bottom: 50px;
}

.card__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-right: -30px;
}

.card__item {
  position: relative;
  margin: 0 30px 30px 0;

  .card__btn-border {
    background: none;
    border: none;
    cursor: pointer;
    &--active {
      @include breakpointMinWidth($mobile-bp) {
        img {
          box-shadow: 1px 0px 0px 4px rgba(79, 226, 74, 1);
        }
      }
    }
    &:hover {
      img {
        filter: blur(2px);
      }
    }
  }

  img {
    max-width: 258px;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.2s linear;
  }

  .card__btn {
    position: absolute;

    border: 1px solid #707070;
    border-radius: 16px;
    background-color: $white;
    padding: 8px 16px;
    cursor: pointer;

    bottom: 90px;
    left: 30px;
    z-index: 1;

    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.16);

    transition: all 0.2s linear;
    &:hover {
      background-color: $apricot;
    }
  }

  .card__title {
    position: absolute;

    font-size: 30px;
    color: #ffffff;

    bottom: 38px;
    left: 30px;
    z-index: 1;

    transition: all 0.2s linear;
    &:hover {
      color: $gray;
    }
  }
}
